.about-me-tag {
  display: flex;
  font-size: 22px;
  margin-bottom: 1em;
  margin-top: 1em;
}
.main-name {
  margin-top: 2.5em;
}
.link-outer-container {
  display: flex;
  justify-content: space-evenly;
}
.skills-container {
  display: flex;
  justify-content: space-evenly;
}
.skills-wrapper {
  background-color: #16425b;
  width: 300px;
  padding-bottom: 1em;
}
.skills-list {
  text-align: center;
}
