.form-label {
  color: #ffede1;
  font-size: 24px;
  border: 2px solid pink;
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}
.form-input {
  color: #ffede1;
  height: 30px;
  border: 2px solid blue;
}
form {
  height: 500px;
  border: 2px solid purple;
  margin-top: 1em;
}
button {
  color: #ffede1;
  background-color: #16425b;
  height: 50px;
  width: 200px;
  font-size: 28px;
  font-family: Georgia;
  border-radius: 3px;
  margin: 10px auto;
}
