#nav-bar-container {
  display: flex;
  background-color: #16425b;
  border-radius: 3px;
  height: 2rem;
  align-items: center;
}
.page-link {
  margin-right: 1em;
  color: #f1e0c5;
  margin-left: 2em;
}
.page-link:hover {
  color: #ffede1;
}
