.link-container {
  width: 250px;
  background-color: #16425b;
  height: 30px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  word-wrap: break-word;
  text-align: center;
  align-content: center;
  margin-top: 1.5em;
  padding: 0 10px;
  flex-wrap: wrap;
}
.link-container:hover {
  box-shadow: -1px 1px 3px 1px #e3d0d8;
}
